@use "./base.scss";

/* Specific Settings for Blue Topaz Transplant */

.cards table tbody > tr > td {
  word-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
  z-index: 2;
}

.cards table > tbody > tr {
  width: 100%;
  height: auto;
  box-shadow: 0 4px 6px 0 rgb(0 0 0 / 5%);
}

.cards table > tbody > tr:hover {
  box-shadow:
    2px 8px 12px 6px rgb(0 0 0 / 100%),
    0 1px 3px 1px rgb(0 0 0 / 3%);
}

body:not(.no-wrapped-dvtable)
  :is(.markdown-preview-view, .markdown-rendered)
  .table-view-table
  > tbody
  > tr
  > td,
body:not(.no-wrapped-dvtable) .markdown-source-view.mod-cm6 .table-view-table > tbody > tr > td {
  max-width: 100%;
}

.cards table tbody > tr > td:first-child,
.markdown-source-view.mod-cm6.cards .table-view-table > tbody > tr > td:first-child {
  background-color: var(--cards-title-background);
  padding: 0px, 0px, 5.6px;
}

/* box shadow disabled */

:is(.markdown-preview-view, .markdown-rendered) table {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
}

/* minimal original settings */

:root {
  --cards-min-width: 180px;
  --cards-max-width: 1fr;
  --cards-mobile-width: 120px;
  --cards-image-height: 400px;
  --cards-padding: 1.2em;
  --cards-image-fit: contain;
  --cards-background: transparent; /* rgba(249, 249, 249, 0.925); */
  --cards-border-width: 1px;
  /* 新参数 new params rgb(220, 239, 239)*/
  --cards-title-background: transparent;
}

@media (max-width: 400pt) {
  :root {
    --cards-min-width: var(--cards-mobile-width);
  }
}

.cards.table-100 table tbody,
.table-100 .cards table tbody {
  padding: 0.25rem 0.75rem;
}

.cards table > tbody > tr {
  /* background-color: rgba(249, 249, 249, 0.925); */
  background-color: var(--background-primary);
}

.cards table tbody {
  clear: both;
  padding: 0.5rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--cards-min-width), var(--cards-max-width)));
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
}

.cards table > tbody > tr {
  background-color: var(--cards-background);
  border: var(--cards-border-width) solid var(--background-modifier-border);
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 0 calc(var(--cards-padding) / 3) 0;
  border-radius: 6px;
  overflow: hidden;
  transition: box-shadow 0.15s linear;
}

.cards table > tbody > tr:hover {
  border: var(--cards-border-width) solid var(--background-modifier-border-hover);
  box-shadow:
    0 4px 6px 0 rgba(0, 0, 0, 0.05),
    0 1px 3px 1px rgba(0, 0, 0, 0.025);
  transition: box-shadow 0.15s linear;
}

.trim-cols .cards table tbody > tr > td {
  white-space: normal;
}

.cards table tbody > tr > td {
  border-bottom: none;
  padding: 0 !important;
  line-height: 1.2;
  width: calc(100% - var(--cards-padding));
  margin: 0 auto;
  overflow: visible !important;
  max-width: 100%;
  display: flex;
}

.cards table tbody > tr > td .el-p {
  display: block;
  width: 100%;
}

.cards table tbody > tr > td:first-child {
  font-weight: var(--bold-weight);
}

.cards table tbody > tr > td:first-child a {
  padding: 0 0 calc(var(--cards-padding) / 3);
  display: block;
}

.cards table tbody > tr > td:not(:first-child) {
  font-size: 90%;
  color: var(--text-muted);
}

@media (max-width: 400pt) {
  .cards table tbody > tr > td:not(:first-child) {
    font-size: 80%;
  }
}

.cards-cover.cards table tbody > tr > td img {
  object-fit: cover;
}

.cards-16-9.cards table tbody > tr > td img {
  aspect-ratio: 16/9;
}

.cards-1-1.cards table tbody > tr > td img {
  aspect-ratio: 1/1;
}

.cards-2-1.cards table tbody > tr > td img {
  aspect-ratio: 2/1;
}

.cards-2-3.cards table tbody > tr > td img {
  aspect-ratio: 2/3;
}

.cards-align-bottom.cards table tbody > tr > td:last-child {
  align-items: flex-end;
  flex-grow: 1;
}

.cards-cols-1 table tbody {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.cards-cols-2 table tbody {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media (min-width: 400pt) {
  .cards-cols-3 table tbody {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .cards-cols-4 table tbody {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .cards-cols-5 table tbody {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .cards-cols-6 table tbody {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .cards-cols-7 table tbody {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }

  .cards-cols-8 table tbody {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}

.cards table tbody > tr > td > :not(.el-embed-image) {
  padding: calc(var(--cards-padding) / 3) 0;
}

.cards table tbody > tr > td:not(:last-child):not(:first-child) > .el-p:not(.el-embed-image) {
  border-bottom: 1px solid var(--background-modifier-border);
  width: 100%;
}

.cards table tbody > tr > td a {
  text-decoration: none;
}

.links-int-on .cards table tbody > tr > td a {
  text-decoration: none;
}

.cards table tbody > tr > td > button {
  width: 100%;
  margin: calc(var(--cards-padding) / 2) 0;
}

.cards table tbody > tr > td:last-child > button {
  margin-bottom: calc(var(--cards-padding) / 6);
}

.cards table tbody > tr > td > ul {
  width: 100%;
  padding: 0.25em 0 !important;
  margin: 0 auto !important;
}

.cards table tbody > tr > td:not(:last-child) > ul {
  border-bottom: 1px solid var(--background-modifier-border);
}

.cards table tbody > tr > td .el-embed-image {
  background-color: var(--background-secondary);
  display: block;
  margin: 0 calc(var(--cards-padding) / -2) 0 calc(var(--cards-padding) / -2);
  width: calc(100% + var(--cards-padding));
}

.cards table tbody > tr > td img {
  width: 100%;
  object-fit: var(--cards-image-fit);
  max-height: var(--cards-image-height);
  background-color: var(--background-secondary);
  vertical-align: bottom;
}

.markdown-source-view.mod-cm6.cards .edit-block-button {
  top: 0;
  /*right: 26px;*/
  opacity: 1;
  background-color: transparent;
}

.cards.table-100 table thead > tr,
.table-100 .cards table thead > tr {
  right: 0.75rem;
}

.cards.table-100 table thead:before,
.table-100 .cards table thead:before {
  margin-right: 0.75rem;
}

.cards table thead {
  user-select: none;
  width: 180px;
  display: block;
  float: right;
  position: relative;
  text-align: right;
  height: 24px;
  padding-bottom: 4px;
  background-color: transparent;
}

.cards table thead:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: var(--icon-size);
  background-repeat: no-repeat;
  cursor: var(--cursor);
  text-align: right;
  padding: 4px 10px;
  margin-bottom: 2px;
  border-radius: 5px;
  font-weight: 500;
  font-size: var(--font-adaptive-small);
}

.cards table thead:before {
  opacity: 0.25;
  background-position: center center;
  background-size: var(--icon-size);
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 100 100"><path fill="white" d="M49.792 33.125l-5.892 5.892L33.333 28.45V83.333H25V28.45L14.438 39.017L8.542 33.125L29.167 12.5l20.625 20.625zm41.667 33.75L70.833 87.5l-20.625 -20.625l5.892 -5.892l10.571 10.567L66.667 16.667h8.333v54.883l10.567 -10.567l5.892 5.892z"></path></svg>');
}

.theme-light .cards table thead:before {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 100 100"><path fill="black" d="M49.792 33.125l-5.892 5.892L33.333 28.45V83.333H25V28.45L14.438 39.017L8.542 33.125L29.167 12.5l20.625 20.625zm41.667 33.75L70.833 87.5l-20.625 -20.625l5.892 -5.892l10.571 10.567L66.667 16.667h8.333v54.883l10.567 -10.567l5.892 5.892z"></path></svg>');
}

.cards table thead:hover:before {
  opacity: 0.5;
}

.cards table thead > tr {
  top: 0;
  position: absolute;
  display: none;
  z-index: 9;
  border: 1px solid var(--background-modifier-border);
  background-color: var(--background-secondary);
  box-shadow: 0 2px 8px var(--background-modifier-box-shadow);
  padding: 6px;
  border-radius: 6px;
  flex-direction: column;
  margin: 26px 0 0 0;
  width: 100%;
}

.cards table thead:hover > tr {
  display: flex;
}

.cards table thead > tr > th {
  display: block;
  padding: 3px 30px 3px 6px !important;
  border-radius: 5px;
  width: 100%;
  font-weight: 400;
  color: var(--text-muted);
  cursor: var(--cursor);
  border: none;
  font-size: var(--font-adaptive-small);
}

.cards table thead > tr > th[sortable-style="sortable-asc"],
.cards table thead > tr > th[sortable-style="sortable-desc"] {
  color: var(--text-normal);
}

.cards table thead > tr > th:hover {
  color: var(--text-normal);
  background-color: var(--background-tertiary);
}

/* @settings
name: Minimal Cards
id: cards-style
settings:
    - 
        id: cards-min-width
        title: Card minimum width
        type: variable-text
        default: 180px
    - 
        id: cards-max-width
        title: Card maximum width
        description: Default fills the available width, accepts valid CSS units
        type: variable-text
        default: 1fr
    - 
        id: cards-mobile-width
        title: Card minimum width on mobile
        type: variable-text
        default: 120px
    - 
        id: cards-padding
        title: Card padding
        type: variable-text
        default: 1.2em
    - 
        id: cards-image-height
        title: Card maximum image height
        type: variable-text
        default: 400px
    - 
        id: cards-border-width
        title: Card border width
        type: variable-text
        default: 1px
    -  
        id: cards-background
        title: Card background color
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
	-
		id: cards-title-background
		title: Card title background color
		type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
*/
