@use "./base.scss";

// put your custom CSS here!
div.page-header + article > h1:nth-of-type(1) {
    display: none;
}

code.mermaid svg,
.table-container>table {
  margin: 1rem auto;
}

.MathJax, .katex {
  font-size: 1em !important;
  color: var(--text-normal, var(--black));
}

.page>#quartz-body {
  grid-template:
    "grid-sidebar-left grid-header grid-sidebar-right"
    "grid-sidebar-left grid-center grid-sidebar-right"
    "grid-sidebar-left grid-footer grid-sidebar-right" / 320px auto 0px
}

/* Custom embedded content */
.transclude {
  &>h1, &>h2, &>h3, &>h4, &>h5, &>h6 {
    display: none;
  }
}

/* Custom checkboxes */
span.custom-checkbox {
  background-color: var(--checkbox-color);
  border-radius: 0.3rem;
  padding: 0.2rem;
}

span.custom-checkbox[data-task="!"] {
  --checkbox-color: #ffebee;
}

span.custom-checkbox[data-task="?"] {
  --checkbox-color: #fff3e0;
}

span.custom-checkbox[data-task="*"] {
  --checkbox-color: #fff3e0;
}

span.custom-checkbox[data-task="@"] {
  --checkbox-color: #e8f5e9;
}

span.custom-checkbox[data-task="~"] {
  --checkbox-color: #e0f7fa;
}

li:has(span.custom-checkbox[data-task="c"]) {
    text-align: center;
}
li:has(span.custom-checkbox[data-task="c"])::marker {
    display: none;
    content: "";
}

/* .page>#quartz-body div.left.sidebar { */
/*   display: none; */
/* } */
